body {
margin:0;
}

.div1-2 {
height:5%;
width:100%;
background-color: #63038c;
}

.div8 {
height:65%;
width:100%;
background-color: #63038c;
margin:0.5% 0%;
overflow: auto;
}

.div-footer {
height:23%;
width:100%;
}

.div3-7 {
height:100%;
width:25%;
display:inline-block;
overflow:hidden;
background-color: #63038c;
}

.div-contains-4-5-6 {
height:100%;
width:50%;
display:inline-block;
vertical-align: top;
background-color: #63038c;	
}

.div-contains-4-5 {
height:40%;
width:100%;
vertical-align: top;
}

.div4 {
height:100%;
width:70%;
display:inline-block;
vertical-align: top;
}

.div5 {
height:100%;
width:30%;
display:inline-block;
vertical-align: top;	
}

.div6 {
height:60%;
width:100%;
display:inline-block;
vertical-align: top;	
}

td{
width:10%;
background:
}

th {
height:10%;
}

table, th, td{
border-collapse:collapse;
}

table {
min-height:100%;
margin: 0 auto;
width:auto;
table-layout: fixed;
}

.not-map {
height: 100%;
width: auto;
display: block;
margin: 0 auto;
}

.map {
height: 10%;
width: auto;
display: block;
}